//定义全局颜色变量
$background-color: #202023;
$background-color-selected: #2C2C30;
$default-font-color: #E9E9E9;
$secondary-font-color: #C0C0C0;
$border-color: #101010;
$border-color-light: #2E2E31;
$border-width: 0.2rem;
$border-width-thinner: 0.15rem;
$theme-color: #00C1CD;
$default-border-radius: 6px;
$bigger-border-radius: 12px;

