
@import "base.scss";
.picture{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.resourse {
  width: 21%;
  height: 96%;
  padding: 0 1% 1% 1%;
  display: flex;
  flex-direction: column;
}
.resourse .titlewords, .music .titlewords {
  height: 3rem;
  width: 100%;
  /* padding: 0.2rem 1.5rem; */
  text-align: center;
  vertical-align: center;
  color: $default-font-color;
  font-size: 1rem;
  font-weight: 900;
  font-family: YaHei;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $border-width-thinner solid $border-color-light;
}

.file-list-uploading{
  margin: 2% 0 0 0;
  height: 100%;
  overflow: scroll;
}

::v-deep .resourse .el-button {
  background: $theme-color;
  color: $default-font-color;
  border: 0;
  border-radius: $default-border-radius;
  font-size: 1rem;
  font-family: YaHei;
  display: block;
}
::v-deep .resourse .el-upload-list--picture-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
::v-deep .resourse .el-upload {
  width: 45%;
  display: block;
  background-color: $background-color;
}
::v-deep .resourse .el-upload:hover{
  border: 1px dashed $theme-color;
}
::v-deep .resourse .el-upload-list--picture-card .el-upload-list__item{
  width: 45%;
}
.divider{
  background-color: $border-color;
  width: $border-width-thinner;
  height: 100%;
}
.preview {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.preview_up {
  height: 65%;
  width: 100%;
  background-color: $border-color;
  margin-top: 2%;
}

.preview_up_img{
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.preview_up_img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview_down{
  height: 35%;
  width: 100%;
  display: flex;
  .preview_down_left{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .preview_down_left_item{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      justify-content: flex-start;
      .el-progress{
        width: 50%;
        margin: 0 1%;
      }
      .icon{
        color: $default-font-color;
        font-size: 1.4rem;
      }
      .titlewords{
        color: $default-font-color;
        font-size: 1rem;
        font-family: YaHei;
        margin-right: 5%;
      }
      .tents{
        color: $default-font-color;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
  .preview_down_right{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .preview_down_right_item{
      width: 100%;
      display: flex;
      .el-button{
        width: 80%;
        background-color: $theme-color;
        color: $default-font-color;
        border: 0;
        border-radius: $default-border-radius;
        .icon{
          font-size: 1.2rem;
          vertical-align: middle;
          margin-right: 5%;
        }
        span{
          vertical-align: middle;
        }
      }

    }
  }


}

.preview_up_right {
  height: 91%;
  width: 17%;
  background: #fff;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.music{
  width: 21%;
  height: 96%;
  padding: 0 1% 1% 1%;
  display: flex;
  flex-direction: column;
}
.music_item {
  width: 100%;
  color: $default-font-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: $border-color-light solid $border-width-thinner;
}
.music_item:hover{
  cursor: pointer;
  background-color: $background-color-selected;
}
.music-info{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.music_loss{
  width: 40%;
}
.music_title, .music_author, .music_loss {
  font-family: YaHei;
  font-size: 1rem;
  margin-top: 7px;
}
.music_author{
  color: $secondary-font-color;
}
.music_play_button{
  margin-top: auto; /* 这会推动播放按钮到容器底部 */
  width: 100%;
  align-self: center;
  .audio-player{
    width: 90%;
    height: 60px;
    margin: 0;
    background-color: $background-color-selected;
    background-image: none;
    box-shadow: none;
  }
}
::v-deep .vueAudioBetter span[data-v-3a8dc9f9] {
  color: #ffffff;
  font-size: 1.5rem;
}
::v-deep .vueAudioBetter .operate .icon-stopcircle-fill{
  display: none;
}


